.todos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-list {
  margin-top: 60px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

input[type="text"] {
  padding: 12px;
  width: 320px;
  margin-right: 16px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding: 10px;
  margin: 0;
}

button {
  padding: 12px 24px;
}

button.delete {
  padding: 4px 12px;
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}
